table {
  width: 100%;
}

.content {
  display: flex;
  justify-content: space-between;

  :nth-child(1) {
    flex-grow: 2;
    margin-right: 2rem;
  }
}

.wrapper {
  width: 100%;
  height: calc(100vh - 325px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .no-account-text {
    font-size: 1.5rem;
    font-weight: 700;
    color: #cacaca;
  }

  .wallet {
    max-width: 250px;
    height: auto;
    opacity: 0.2;
  }
}
