<h1>Welcome to OMB 🏧</h1>

<div class="content">
  <div class="wrapper" *ngIf="accounts.length === 0; else elseBlock">
    <img class="wallet" src="assets/img/wallet.svg" alt="no-accounts" />
    <span class="no-account-text">There are not accounts</span>
  </div>

  <ng-template #elseBlock>
    <p class="description">This is a list of all your accounts</p>
    <div class="inner">
      <section>
        <table mat-table [dataSource]="accounts" class="mat-elevation-z1">
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef>ID</th>
            <td mat-cell *matCellDef="let account">{{ account.id }}</td>
          </ng-container>

          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Name</th>
            <td mat-cell *matCellDef="let account">{{ account.name }}</td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr
            mat-row
            *matRowDef="let row; columns: displayedColumns"
            (click)="onClickRow(row)"
          ></tr>
        </table>
      </section>

      <section>
        <omb-deposit [accounts]="accounts"></omb-deposit>
      </section>
    </div>
  </ng-template>
</div>
