table {
  width: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  :nth-child(1) {
    flex-grow: 2;
    margin-right: 2rem;
  }
}

.wrapper {
  width: 100%;
  height: calc(100vh - 325px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .no-account-text {
    font-size: 1.5rem;
    font-weight: 700;
    color: #cacaca;
  }

  .wallet {
    max-width: 250px;
    height: auto;
    opacity: 0.2;
  }
}

.inner {
  display: flex;
  justify-content: space-between;
}

.mat-table {
  background-color: transparent;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 6px;
}

table tr:last-child td {
  border-bottom: 0 solid;
}

.mat-row:hover .mat-cell {
  border-color: currentColor;
  cursor: pointer;
}

.description {
  margin-top: 0;
}

@media (max-width: 700px) {
  .inner {
    flex-direction: column;
    gap: 3rem;
  }
}
